[submodule "lab6"]
	path = lab6
	url = https://github.com/taylordreyer/lab6.git
[submodule "Lab-Assignment-7"]
	path = Lab-Assignment-7
	url = https://github.com/taylordreyer/Lab-Assignment-7.git
[submodule "Lab-Assignment-8"]
	path = Lab-Assignment-8
	url = https://github.com/taylordreyer/Lab-Assignment-8.git
[submodule "Lab-Assignment-9"]
	path = Lab-Assignment-9
	url = https://github.com/taylordreyer/Lab-Assignment-9.git
[submodule "labAssignment10"]
	path = labAssignment10
	url = https://github.com/taylordreyer/labAssignment10.git
[submodule "compareSortingAlgorithms"]
	path = compareSortingAlgorithms
	url = https://github.com/taylordreyer/compareSortingAlgorithms.git
